@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.title-card {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
}


.title-card p {
    display: flex;
    justify-content: center;
    margin: 0%;

}

.name-card {
    font-family: 'Tilt Neon', sans-serif;
    font-size: calc(20px + 15vw);
}

.bio {
    border: 1px ridge rgb(255, 255, 255, 0.2);
    box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.758);
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    text-wrap: wrap;
    border-radius: 20%;
}

/* #carousel--image {
    display: flex;
} */

.carousel--matter {
    position: relative;
    font-size: x-large;
    padding-left: 25px;
}



.carousel-item {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.carousel-item div {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide--2 img {
    width: 30%;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
    /* margin-left: 50%; */
}

.contact--icons {
    display: flex;
    justify-content: center;

}
.contact--icons p {
    padding: 5px;
}



.icon--sizes {
    font-size: 40px;
}
@media screen and (max-width: 1000px) {
    .carousel-item {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    
    .carousel-item div {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .icon--sizes {
        font-size: 35px;
    }
    
}

@media screen and (max-width: 750px) {
    .carousel-item {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    
    .carousel-item div {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .carousel--matter {
        position: relative;
        font-size:small;
        padding-left: 25px;
    }
    
    .icon--sizes {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .carousel-item {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    
    .carousel-item div {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .bio {
        font-size: 8px;
    
    }

    .icon--sizes {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 680px) {
    /* .slide--2 {
        font-size: xx-small;
    } */
    

    .icon--sizes {
        font-size: 20px;
    }
    
}